@import '~bootstrap/scss/bootstrap';

$background-color: #dcf6ff;
$black-font: #000;

* {
  // font-weight: lighter;
  letter-spacing: 2px;
}

body {
  background-color: $background-color;
}
table{
  width: 50%;
}

table, th, td{
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

th,td{
  padding:10px 4px;
  text-align: center;
}
